.GameList {
  margin-top: 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: black;
}

.game-list-section {
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.Game {
  text-align: center;
  border: 3px solid black;
  box-sizing: border-box;
  width: 350px;
  padding: 10px;
  margin-left: 400px;
  background-color: white;
}

.add-game-button {
  width: 50px;
}

.add-game-button:hover {
  background-color: red;
  cursor: pointer;
}