body {
    margin: 0 auto;
}

.logo {
    width: 50%;
}

.fanstar {
    font-family: 'Lalezar', cursive;
}

.f-in-fanstar {
    font-family: 'Faster One', cursive;
}

/* .video-background {
	position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
	margin:0;
	padding:0;
} */